.not-found-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: black;
}
.h6 {
  color: #000000;
}
.not-found-img {
  height: 128px;
}
@media screen and (min-height: 768px) {
  .not-found-img {
    height: 320px;
  }
}
